<div id="notification" class="wrapper">
  <h1>Registration Success!</h1>
  <div id="notification" class="container">
    <p>Thank you for registering to our Connect Website!</p>
  </div>
</div>
