/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

$dark-brown:  #534741;
$light-brown: #C2B59B;
$orange:      #FBAF41;
$dark:        #444444;
$light:       #999999;
$blue:        #2DB6CF;
$green:       #46b98a;
$white:       #FFFFFF;
$screen-width: 1366px;
$screen-height: 768px;

/* Html and Body Style */
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "Century Gothic";
  min-width: 1366px;

}

#body-wrapper {
  min-height: 100%;
  position: relative;
}

/* Header Style */
header {
  height: 75px;
  width: 100%;
  background: $dark-brown;
}

#logo-wrapper {
  height: 75px;
  width: 25%;
  float: left;
}

#menu-wrapper {
  height: 75px;
  width: 50%;
  float: left;
}

#menu-wrapper ul{
  width: 90%;
  list-style: none;
  font-size: 21px;
}

#menu-wrapper li{
  display: inline;
  padding: 0 15px;
}

#menu-wrapper a{
  text-decoration: none;
  color: $light-brown;
}

#menu-wrapper a:hover{
  color: $orange;
}

#login-register-wrapper{
  height: 75px;
  width: 25%;
  float: left;
}

/* Content Style */
#content {
  width: 100%;
  min-height: 535px;
}

/* Footer Style */
footer {
  background: $orange;
  width: 100%;
  height: 50px;
  position: absolute;
  bottom: 0;
}

/* Centered object inside div vertically */
.block { //class for parent
  text-align: center;
}

.block:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -0.25em;
}

.centered { //class for object(child)
  display: inline-block;
  vertical-align: middle;
}

/* Button Style */
.button {
  border: 0 none;
  border-radius: 2px 2px 2px 2px;
  cursor: pointer;
  display: inline-block;
  font-size: 18px;
  font-weight: bold;
  line-height: 20px;
  text-transform: none;
  margin-left: 5px;
  margin-right: 5px;
  transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -webkit-transition: all 0.3s ease 0s;
  width: 125px; /* auto */
  height: 40px;
  text-align: center; /* DELETE WHEN WIDTH AUTO */
  &.orange {
    background: none repeat scroll 0 0 $orange;
    color: $dark-brown;
    &:hover {
      background: none repeat scroll 0 0 $green;
      color: $white;
    }
  }
  &.darkbrown {
    background: none repeat scroll 0 0 $dark-brown;
    color: $light-brown;
    &:hover {
      background: none repeat scroll 0 0 $blue;
      color: $white;
    }
  }
}